.outer-container{
    background-color: white;
    /* background-color: #59A5D8; */
    /* background-color: #84d2f6; */
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
}
.inner-content{
    flex-direction: column;
    align-items: center;
}
.card-container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #0A2239;
    background-color: #D1E1CB;
}
.content-container{
    display:flex;
    margin-left: 20px;
    margin-top: 5px;
}
.card-header{
    font-size:x-large;
    color: #0A2239;
    border-bottom: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
}
.deals-section-left{
    flex-direction: row;
    width: 50%;
}
.deals-section-right{
    flex-direction: row;
    width: 50%;
}